/* header */

.header {
  width: 100%;
  height: 52px;
  background-color: #004dd9;
  padding: 0px 20px;
  padding-top: 0px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: fixed;
  z-index: 99;
  margin-top: -40px;
}
.headerImg {
  width: 160px;
}
.icon img {
  width: 40px;
  height: 40px;
  background-color: white;
}
.icons {
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Profile container */

.profileContainer {
  height: 132px;
  width: 100%;
  background-color: #fefeff;
  margin-top: 40px;
  display: flex;
  align-items: center;
  padding: 12px;
  font-size: 12px;
}
.profileContainer .profileImg {
  margin-top: 12px;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}
.profileInfo {
  margin-left: 20px;
}
.profileInfo p {
  color: #a8b6ca;
}
.profileInfo h1 {
  color: #566786;
}
.profileInfo h3 {
  color: #536277;
}
.profileImgLogo {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 120px;
  left: 75px;
  z-index: 1;
}
/* id */

.id {
  width: 100%;
  height: 200px;
  display: flex;
  padding: 12px 16px;
  flex-direction: column;
}
.idheader {
  padding: 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.containerRefresh {
  display: flex;
}
.refresh {
  width: 10px;
}
.idheader p {
  color: #363636;
}
.containerRefresh p {
  color: #377dff;
}
.idcontainer {
  background-color: white;
  margin-left: 14px;
  border-radius: 4px;
  width: 150px;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-items: center; */
  font-size: 12px;
}
.idcontainer .idpic {
  margin-top: 4px;
  width: 128px;
  height: 80px;
  padding-bottom: 8px;
}
.idcontainer p {
  margin-top: -8px;
  letter-spacing: 2px;
  color: gray;
}
.line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  width: 100%;
}
.idcontainer .idPic2 {
  position: absolute;
  height: 44px;
  width: 28px;
  top: 255px;
  left: 46px;
}

/* needs */

.needs {
  width: 100%;
  padding: 12px 28px;
  margin-top: -10px;
}
.needs h3 {
  margin-bottom: 20px;
}
.needsContainer {
  padding: 12px 14px;
  width: 100%;
  height: 54px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.needsContainer p {
  margin-left: 12px;
}
.iconcar {
  margin-top: 4px;
}
/* Footer */
.footer {
  position: fixed; /* Fix the footer to the bottom of the viewport */
  left: 0;
  bottom: 0;
}
