/* header */

.header {
  width: 100%;
  height: 52px;
  background-color: #004dd9;
  padding: 0px 20px;
  padding-top: 0px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: fixed;
  margin-top: -40px;
}
.headerImg {
  width: 160px;
}
.icon img {
  width: 40px;
  height: 40px;
  background-color: white;
}
.icons {
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Profile container */

.profileContainer {
  height: 120px;
  width: 100%;
  background-color: gainsboro;
  margin-top: 40px;
}
