/* header */

.header {
  width: 100%;
  height: 52px;
  background-color: #004dd9;
  padding: 0px 20px;
  padding-top: 0px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: fixed;
  margin-top: -40px;
}
.headerImg {
  width: 160px;
}
.icon img {
  width: 40px;
  height: 40px;
  background-color: white;
}
.icons {
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Profile container */

.profileContainer {
  height: 132px;
  width: 100%;
  background-color: #fefeff;
  margin-top: 40px;
  display: flex;
  align-items: center;
  padding: 12px;
  font-size: 12px;
}
.profileContainer .profileImg {
  margin-top: 12px;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}
.profileInfo {
  margin-left: 20px;
}
.profileInfo p {
  color: #a8b6ca;
}
.profileInfo h1 {
  color: #566786;
}
.profileInfo h3 {
  color: #536277;
}
.profileImgLogo {
  width: 20px;
  height: 20px;
}
/* id */

.id {
  width: 100%;
  height: 200px;
  display: flex;
  padding: 12px;
  flex-direction: column;
}
.idheader {
  padding: 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.containerRefresh {
  display: flex;
}
.refresh {
  width: 10px;
}
.idheader p {
  color: #363636;
}
.containerRefresh p {
  color: #377dff;
}
.idcontainer {
  background-color: white;
  border-radius: 4px;
  width: 160px;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-items: center; */
  font-size: 12px;
}
.idcontainer img {
  margin-top: 4px;
  width: 128px;
  height: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  padding-bottom: 8px;
}
.idcontainer p {
  margin-top: -8px;
  color: gray;
}
